<div id="colleft">
[% PROCESS 'custom/child_menu.tt' parent_page = '/' %]
<h3>Example</h3>

<ul>
<li><a class="existingWikiWord" href="http://mojomojo.org/advocacy">Advocacy</a></li>
<li><a class="existingWikiWord" href="http://mojomojo.org/features">Features</a></li>

<li><a class="existingWikiWord" href="http://mojomojo.org/download">Download</a></li>
<li><a class="existingWikiWord" href="http://mojomojo.org/documentation">Documentation</a></li>
<li><a class="existingWikiWord" href="http://mojomojo.org/reference_installations">Example installations</a></li>
<li><a class="existingWikiWord" href="http://mojomojo.org/troubleshooting">Troubleshooting</a></li>
<li><a class="existingWikiWord" href="http://mojomojo.org/development">Development</a></li>
</ul>
<h3>External links</h3>

</div>
