<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="[% lang %]" lang="[% lang %]">
<head>
<script type="text/javascript" language="JavaScript" src="[%c.uri_for_static('js/jquery.js')%]"></script>
<script type="text/javascript" language="JavaScript" src="[%c.uri_for_static('js/jquery.form.js')%]"></script>
<script type="text/javascript" language="JavaScript" src="[%c.uri_for_static('js/jquery.livequery.js')%]"></script>
<script type="text/javascript" language="JavaScript" src="[%c.uri_for_static('js/jquery.inplace.js')%]"></script>
<script type="text/javascript" language="JavaScript" src="[%c.uri_for_static('js/jquery.autocomplete.js')%]"></script>
<script type="text/javascript" language="JavaScript" src="[%c.uri_for_static('js/wiki.js')%]"></script>
[% IF (matches = c.request.query_parameters.split.match('vertical')) %]
<script type="text/javascript" language="JavaScript" src="[%c.uri_for_static('js/edit.js')%]"></script>
[% END %]
<script type="text/javascript" language="JavaScript" src="[%c.uri_for_static('js/jquery.slides.js')%]"></script>
<script type="text/javascript" language="JavaScript" src="[%c.uri_for_static('js/slimbox2.js')%]"></script>
<script type="text/javascript" language="JavaScript" src="[%c.uri_for_static('js/planet.js')%]"></script>
<script type="text/javascript">
jQuery.uri_for = function(path) { return '[%c.req.base%]' + path }
jQuery.uri_for_img = function(path) { return '[%c.uri_for_static('images',c.config.platform)%]/' + path }
</script>
    <title>
	[% IF title; title %]
	[% ELSIF page %] [% page.content.title || c.expand_wikiword(page.name_orig) %]  [% END %]
    </title>
    [% IF page.content.noindex && !index_page %]<meta name="robots" content="noindex" />[% END %]
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="powered by" content="MojoMojo [%c.VERSION%]" />
    <meta http-equiv="description" content="[%page.content.description%]" />
    <meta http-equiv="keywords" content="[%page.content.keywords%]" />
    <link href="[%c.uri_for_static('themes/' _ c.config.theme _ '/theme.css')%]" type="text/css" rel="stylesheet" />
    <link title="pod stylesheet" href="[% c.uri_for_static('pod.css')%]" type="text/css" rel="stylesheet" />
    <link href="[% c.uri_for_static('css/slimbox2.css')%]" type="text/css" rel="stylesheet" />
    <link href="[% c.uri_for_static('css/jquery.autocomplete.css')%]" type="text/css" rel="stylesheet" />
	<link rel="alternate" type="application/atom+xml" title="Atom" href="[%c.uri_for('atom')%]" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0 Headlines" href="[%c.uri_for('rss')%]" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0 Full" href="[%c.uri_for('rss_full')%]" />
    <link rel="shortcut icon" href="[%c.uri_for_static('themes/catalyst/images/favico.ico')%]" />
<script type="text/javascript" language="JavaScript" src="[%c.uri_for_static('js/tiny_mce/tiny_mce.js')%]"></script>
</head>
<body class="home">
		<div id="wrapper">
		    <div id="header">
		        <h1>
		          <a href="[% c.uri_for('/') %]"><img src="[% c.uri_for_static('themes/catalyst/images/catalyst_130pix.gif') %]" alt="Catalyst - Web Framework"></a>
		        </h1>
                <form id="searchbox_001489226992342776861:khgrvdklfes" action="http://google.com/cse">
                    <input name="cx" value="001489226992342776861:khgrvdklfes" type="hidden">
                    <input name="cof" value="FORID:0" type="hidden">
                    <input name="q" size="30" type="text">
                    <input name="sa" value="Search" type="submit">
                </form>
		        <ul id="menu_global">
		            <li id="home"><span><a href="[% c.uri_for('/') %]">Home</a></span></li>
		            <li id="community"><span><a href="[% c.uri_for('/community') %]">Community</a></span></li>
		            <li id="documentation"><span><a href="http://search.cpan.org/dist/Catalyst-Manual/">Documentation</a></span></li>
		            <li id="developer"><span><a href="http://dev.catalystframework.org/timeline">Developer</a></span></li>
		            <li id="download"><span><a href="http://search.cpan.org/dist/Catalyst-Runtime/">Download</a></span></li>
		            <li id="support"><span><a href="http://dev.catalystframework.org/wiki/Support">Support</a></span></li>
		            <li id="blogs"><span><a href="[% c.uri_for('/planet') %]">Planet (Catalyst blogs)</a></span></li>
		            <li id="advent"><span><a href="http://www.catalystframework.org/calendar">Advent Calendar</a></span></li>
		        </ul>
		    </div>
		    <div id="main">

