[% IF page.content_version ; %] 
 <div id="pageoptions">
	<ul>
   <li>Preview</li>
   <li><a href="[% c.uri_for('attachments') %]">Attachments</a></li>
   <li><a href="#" onclick="Element.toggle('hidden_info');return false;">Syntax</a></li>
</ul>
</div>
[% END %]
