[% PROCESS header.tt %]
<div id="content">
<h1 id="pageName">
  <small>
 [% c.pref("name") || "MojoMojo" %]
 </small>
  <br/>[%c.expand_wikiword(page.path)%] [%IF c.req.params.rev %]
  (Revision #[%c.req.params.rev%])[%END%]
</h1>
<div id="revision">
[% content.formatted(c) %]
</div>

<div class="byline">
  Revised on [% content.created.ymd %] at [% content.created.hms %]
    by [% content.creator.name %]
</div>
</div>

</body>
</html>
