[%IF user.can_edit(page.path) && rev %]
<form id="editForm" action="[% c.uri_for('rollback') %]" method="post">
<input type="hidden" name="rev" value="[% rev %]"/>
<input type="submit" value="Make current"/>
</form>
[%END%]
