[% PROCESS header.tt %]
<div id="header"><h1>
Not found: [%c.expand_wikiword(proto_pages.first.name_orig) %]
</h1></div>
[% UNLESS (page.name == "/") ;%]
[% PROCESS breadcrumbs.tt %]
[% END %]
[% PROCESS navbar.tt %]
<div id="content">
<p>This page does not exist. Do you want to 
<a href="[%base%][%proto_pages.first.path%].edit">create it</a>?</p>
<h2>Other suggestions</h2>
[%c.subreq('/search/inline',page=>path_pages.first,query=>proto_pages.first.name)%]
</div>

[% PROCESS footer.tt %]
