/* @override http://localhost:3000/.static/themes/nordaaker/theme.css */

body {
background: #c1baaa repeat-x url(images/background.png);	margin: 0;
	color: #626262;
	font: 85% Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
}

#container {
	text-align: left;
	margin: 0 auto 0;
}
#wrapper {
	max-width: 900px;
	text-align: left;
	margin: 0 auto 0;
	position: relative;
}
div#header {
	background: url(images/nordaaker.png) no-repeat 7px 4px;
	padding: 9px 0 8px;
}
#header h1 {
	
	top: 14px;
	padding: 16px 0 10px 58px;
	color: #ffffff;
	font-weight: bold;
	border-width: 1px;
	border-color: #000;
	margin: 0;
	font-size: 18px;
	display: inline;
}

#header h1 a {
	color: #ffffff;
}
#header form {
	position: absolute;
	right: 7px;
	top: 5px;
}
#header form input#searchField {
	border-color: #800;
	border-top-color: #d90400;
	border-left-color: #750000;
}
#breadcrumbs {
	background: #800;
	height: 12px;
	font-size: .9em;
	color: #e3e3e3;
	margin: 0;
	padding: 6px 8px;
}

#breadcrumbs a {
	padding: 2px 7px;
	color: white;
	text-decoration: none;
}

#breadcrumbs a:hover {
	color: #ffffff;
	background-color: #720000;
	text-decoration: none;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}
span.loginout {
	float: right;
}
span.breads {
	float:left
}
#breadcrumbs span.loginout a {
	padding:0;
	background-color: transparent;
}
div#toplinks {
	font-size: .9em;
	background: #ebeae7;
	font-weight: bold;
	color: #000000;
	padding: 4px 8px;
	min-height: 1.8em;
}

div#toplinks ul li, div#bottomnav ul li {
	display: inline;
}

div#toplinks ul li a:hover, div#bottomnav ul li a:hover {
	color: #333;
	text-decoration: none;
}

/* @group Edit buttons */
div#pagenav ul {
	display: inline;
}

div#pagenav {
	font-size: .9em;
	clear: both;
	padding: 10px 15px 1px;
	display: inline;
}
div#pagenav ul li a {
	padding: 3px 7px;
	color: black;
	background-color: #dedac7;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
divd#pagenav ul li.edit a {	
	padding-bottom: 2px;
	border-bottom: none;

}

div#pagenav ul li {
	padding: 2px 0px 2px 0;
	margin-right: 5px;
	display: inline;
}


div#pagenav ul li a:hover {
	text-decoration: underline;
	background-color: white;
}
div#pagenav ul li.meta a {
	border: none;
	color: white;
	margin: 0;
	padding: 0;
	background-color: transparent;
}
div#pagenav ul li.meta {
	margin-left: 10px;
	color: #dfdcd2;
}
/* @end */

div#toplinks ul li a {
	padding: 3px 0px;
}

div#toplinks ul li, div#bottomnav ul li {
	padding: 3px 7px;
}

div#pageoptions {
	padding: 5px 14px;
	background-color: #ceebb6;
	margin-left: 150px;
}

div#pageoptions ul li {
	display: inline;
	padding: 5px 14px 5px 0;
	color: black;
	font-size: 1.1em;
}

div#pageoptions a {
	color: green;
}

div#toplinks ul li.navOn {
	color: black;
	text-decoration: none;
	padding: 2px 5px;
}


#content {
	margin-left: 150px;
	overflow: hidden;
	padding: 13px;
	background-color: #ffffff;
	position: relative;
}


#bottomnav {
	padding: 6px 8px;
	color: #000000;
	margin: 0;
	font-weight: bold;
	min-height: 1.8em;
	font-size: 0.9em;	
	margin-left: 150px;
	background-color: #867f76;
}
div#bottomnav ul li a {
	color: white;
}
div#bottomnav ul li {
	color: #bebbae;
	line-height: 2em;
	padding: 0 0.5em 0 0;
}
#bottomnav input {
	font-size: 1em;
	margin: 0;
	border: none;
	background-color: white;
	text-decoration: underline;
	color: red;
	font: Arial, Helvetica, Geneva, sans-serif;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


/* @group Sidebar */

#sidebar {
 	margin: 0 10px 0 0;
 	padding: 5px;
 	width: 130px;
	position: absolute;
	left: 0;
	top: 0;
}

#sidebar ul {
	padding: 0;
	margin: 10px 0 0 0;
}
#sidebar ul li {
	margin: 0 0 5px;
	padding: 5px 10px;
	background-color: #867f76;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
#sidebar ul li.active {
	background-color: #800;
	color: white;
}
#sidebar ul li a {
	color: white;
	text-decoration: none;
}

/* @end */