[% SET page.body_class = 1 %]
[% WRAPPER page/wrapper.tt %]


        <div class="main-content">
        <div class="content-cell">
 <h1>Page Not Found 404</h1>
  <div>
   <h3>Please come back later.</h3>
   <p><a href="[%c.uri_for('/')%]/">Home</a></p>
  </div>
</div> 
</div> 

[% END %]
