[% WRAPPER page/wrapper.tt index_page=1 title=loc('photo tags') %]
<div id="content">
[% 
    IF cloud.tags(1);
        cloud.html_and_css(50);
    ELSE;
        "No tags in use";
    END;
%]
</div>
[% END # WRAPPER %]
