[% SET page.body_class = 1 %]
[% WRAPPER page/wrapper.tt %]
        <div class="content-cell">

<h1 class="pagetitle">Merci de v&eacute;rifier vos donn&eacute;es et de confirmer l'enregistrement</h1>
[% form %]
 </div>

[% END %]
