<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <script type="text/javascript" language="JavaScript" src="[%base%]/.static/js/xmlhttp.js"></script>
    <script type="text/javascript" language="JavaScript" src="[%base%]/.static/js/getElementsBySelector.js"></script>
    <script type="text/javascript" language="JavaScript" src="[%base%]/.static/js/prototype.js"></script>
    <script type="text/javascript" language="JavaScript" src="[%base%]/.static/js/prototype-useful.js"></script>
    <script type="text/javascript" language="JavaScript" src="[%base%]/.static/js/effects2.js"></script>
    <script type="text/javascript" language="JavaScript" src="[%base%]/.static/js/fat.js"></script>
    <script type="text/javascript" language="JavaScript" src="[%base%]/.static/js/wiki.js"></script>
    <script type="text/javascript" language="JavaScript" src="[%base%]/.static/js/yaml_load.js"></script>
    <title>
	[% IF page %] [% c.expand_wikiword(page.name_orig) %] in [% END %]
            [%
               c.pref('name') ||
                "A poorly configured MojoMojo Installation"
            %]
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link title="main stylesheet" href="[% base %]/.static/mojomojo.css" type="text/css" 
            rel="stylesheet" />
    <link title="pod stylesheet" href="[% base %]/.static/pod.css" type="text/css" 
            rel="stylesheet" />
	<link rel="alternate" type="application/atom+xml" title="Atom" href="[%base%]/.atom" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0 Headlines" href="[%base%]/.rss" />
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0 Full" href="[%base%]/.rss_full" />
    <link rel="shortcut icon" href="[%base%]/.static/favicon.ico" />
</head>

<body>

    <div id="container">
        [%template.title%]
