[%PROCESS header.tt%]
 <div id="header"><h1>A message from our sponsors...</h1></div>
        <div id="content">
<div><img src="[%c.uri_for('/.static/shrinkenhead.jpg')%]">
<h1>[%message%].</h1>
<p> Go directly to <a href="[%c.uri_for('/')%]/">start</a>, do not pass prison, do not collect $ 200...</p>
        </div>
[%PROCESS footer.tt%]
