<div id="sidebar" class="rightHandSide">
    <ul id="menuHome">
        <li><a href="[% base %]">[% c.pref("name") %] [% loc('Home') %]</a></li>
    </ul>
    [% PROCESS child_menu.tt parent_page = path_pages.0 %]
</div>
