<img alt="" id="slideshow" src="[%c.uri_for('attachment',page.attachments.first.id)%]" />
		<script type="text/javascript">
		(function($) {
		    $('#slideshow').Slides({images : [
[% FOR attachment IN page.attachments %]
        [% IF attachment.id != page.attachments.first.id %]
	   '[%c.uri_for('attachment',attachment.id)%]',
       [% END %]
[% END %]
	   '[%c.uri_for('attachment',page.attachments.first.id)%]',
		    ]});
		})(jQuery);
		</script>
