/*<group=Document Structure>*/

#categories {
	background: #ffffff;
}

#allPages {
	background: #ffffff;
}

#wantedPages {
	float: left; 
	width: 280px;
	background: #ffffff;
}

Body {
	background: #7D7C7A repeat-x url(gfx/background.jpg);
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #626262;
}

#container {
	width: 750px;
	position: absolute;
  left: 50%;
	height: 500px;
	top: 10px;
	display: block;
	margin-left: -375px;
}

#header {
	background: url(gfx/header.jpg) White;
	height: 54px;
	margin: 0;
}

#breadcrumbs {
	background: #4E5662;
	height: 12px;
	font-size: 11px;
	color: #e3e3e3;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 13px;
	padding-top: 1px;
	padding-bottom: 1px;
}

#toplinks {
	background: #D7D6D4;
	font-weight: bold;
	font-size: 12px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 13px;
	color: #000000;
}

#tags {
	background: #fffdfa;
	font-weight: bold;
	font-size: 11px;
	color: #919191;
	padding-left: 13px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.showdiv {
	background: white;
	font-size: 11px;
	padding-left: 13px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-weight: bold;
}

#content {
  overflow: hidden;
	background: #ffffff;
	padding: 13px;
	overflow: hidden;
	font-size: 12px;
}

#bottomnav {
	height: 28px;
	background: url(gfx/backbottom.gif) no-repeat;
	padding-left: 13px;
	color: #000000;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	padding-top: 6px;
}

#bottomnav input {
	font-size: 10px;
}

.formdiv {
	text-align: left;
	background: #ffffff;
	padding-left: 13px;
  padding-bottom: 5px;
}


/*</group>*/
/*<group=Headlines>*/

.logintext {
	top: 10px;
	left: 20px;
	position: relative;
	font-size: 12px;
	width: 500px;
	overflow: hidden;
}
#header h1 {
	top: 14px;
	left: 100px;
	position: relative;
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
}

#header h1 a {
	color: #ffffff;
}

/*</group>*/

/*<group=Links>*/

#breadcrumbs a {
	color: #e7e7e7;
	text-decoration: none;
}

#breadcrumbs a:hover {
	color: #ffffff;
	text-decoration: none;
}

a { 
color: #577091;
  text-decoration: underline;
}

a:visited { 
color: #273d66;
}

a:hover { 
  color: #22252e; 
}


	
/*</group>*/

/*<group=Navigation>*/

form { margin: 0;}

a.nav, a.nav:link, a.nav:visited { color: #577091; }
a.nav:hover { color: #121239; }

li { margin-bottom: 7px }

.navigation {
  margin-top: 5px;
  font-size : 12px;
  color: #999;
}

#navigationForm {
  font-size : 12px;
}
.navigation a:hover { color: #ab0b0b; }

.navigation a {
  font-size: 11px;
  color: black;
  font-weight: bold;
}

.navigation small a {
  font-weight: normal;
  font-size: 11px;
}
  
.navOn {
  font-size: 11px;
  color: gray;
  font-weight: bold;
  text-decoration: none;
}

.help {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
}

.inputBox {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  background-color: #eee;
  padding: 5px;
  margin-bottom: 20px;
}

blockquote {
  display: block;
  margin: 0px 0px 20px 0px;
  padding: 0px 30px;
  font-size:11px;
  line-height:17px;
  font-style: italic;  
  width: 400px;
}

pre {
  width:450px;
  background-color: #eee;
  padding: 10px;
  margin-left: 3em;
  font-size: 11px;
}

ol.setup {
  font-size: 19px;
  font-family: georgia, verdana, sans-serif;
  padding-left: 25px;
}

ol.setup li {
  margin-bottom: 20px
}

.byline {
  font-size: 10px;
  font-style: italic;  
  margin-bottom: 10px;
  color: #999;
}

.references {
  font-size: 10px;
}

.diffdel, del {
  background: pink;
  text-decoration: line-through;
}

.diffins, ins {
  background: lightgreen;
}

p#message {
 background: #eee; 
 padding: 0.7em; 
 border: 1px solid silver; 
 width: 440px;
}

#previewHeading {
 clear:left;
}

div.preview {
 clear:left;
 width: 728px;
 overflow: auto; 
 height: 290px;
}

textarea#body {
 height: 180px; 
 width: 722px;
}

textarea#comment {
 height: 150px; 
 width: 400px;
}

#hidden_info {
  position:absolute;
  z-index:1;
}

#TextileHelp {
  width: 700px; 
  background: #ddd; 
  border: 1px solid #aaa;
  padding-bottom: 1.5em;
  padding-top: 1em;
}

#TextileHelp table {
  margin-bottom: 0;
}

#TextileHelp table+h3 {
  margin-top: 11px;
}

#TextileHelp table td {
  font-size: 11px;
  padding: 3px;
  vertical-align: top;
  border-top: 1px dotted #ccc;
}

#TextileHelp table td.arrow {
  padding-right: 5px;
  padding-left: 10px;
  color: #999;
}

#TextileHelp table td.label {
  font-weight: bold;
  white-space: nowrap;
  font-size: 10px;
  padding-right: 15px;
  color: #000;
}

#TextileHelp h3 {
  font-size: 11px;
  font-weight: bold;
  font-weight: normal;
  margin: 0 0 5px 0;
  padding: 5px 0 0 0;
}

#TextileHelp p {
  font-size: 10px;
}

.rightHandSide {
  float: right;
  width: 147px;
  margin-left: 10px;
  padding-left: 20px;
  border-left: 1px dotted #ccc;
}

.rightHandSide p {
  font-size: 10px;
}
 
.newsList {
  margin-top: 20px;
}

.newsList p {
  margin-bottom:30px;
}

.add a {
  color: green;
	font-size: 13px;
  text-decoration: none;
  vertical-align: middle;
}

.add a:hover {
  color: #003800;
	font-size: 13px;
}

.remove a {
  color: red;
	font-size: 13px;
  text-decoration: none;
  vertical-align: middle;
}

.remove a:hover {
  color: #650000;
	font-size: 13px;
	background: transparent;
}

.tagedit {
  float: right;
}

#taginput {
  font-size : 11px;
  font-weight : normal;
  border-style : solid;
  border-width : 1px;
  border-color: #000000;
  width: 80px;
}

.newWikiWord {
  background-color: #ddf;
}

.newWikiWord a {
  vertical-align: super;
  font-size: 0.8em;
}

.protoPage a:link {
  color: #ab0b0b;
}

.protoPage a:visited { 
  color: #666;
}

.protoPage a:hover {
  color: #fff; 
  background-color:#ab0b0b; 
}
	
/*</group>*/

/*<group=Highlighted keywords in search>*/

.quoted {
  font-weight: bold;
}
	
/*</group>*/

/*<group=Pagination Links>*/

div.pager {
    font-size: small;
    text-align: center;
}

div.pager ul { 
    list-style: none;
}   

div.pager ul li { 
    display: inline;
    padding: 0 2px;
    white-space: nowrap;
}
	
/*</group>*/

/*<group=Amazon Plugin>*/

div.amazon {
    width:80%;
    padding-left: 2em;
    margin: 1em 4em 1em 4em;
    border: 1px solid #ccc;
    background: #eee;
}

div.amazon img {
    margin: 1.2em;
}

.form dl {
 margin: 13px;
 font-family: sans-serif;
 float: left;
}

.form dt {
  float: left;
  width: 80px;
  font-size: 14px;
  line-height: 24px;
}

.form dd {
  margin: 0 0 5px 90px;
  font-size: 11px;
  line-height: 24px;
  margin-left: 80px;
}

.list dl {
 margin: 13px;
 font-family: sans-serif;
 float: left;
}

.list dt {
  float: left;
  width: 80px;
  font-size: 1.5em;;
  line-height: 24px;
}

.list dd {
  margin: 0 0 5px 90px;
  font-size: 1.4em;
  line-height: 24px;
  margin-left: 80px;
}
.form input {
  font-size: 14px;
}

span.statusmsg {
  color: #335577;
  margin-left: 1em;
  font-size: 1.5em;
}

.login form input {
  font-size: 14px;
  width: 120px;
}

input {
  border: 1px solid black;
}

.thumb {
  border: none;
}

.addbutton {
        margin-right: 0.5em;
  border: 1px solid black;
  background: white; 
  color: green;
}

.thumb {
  background: #ddd;
  padding: 8px;
          margin: 8px;
}

.imageinfo {
  float:right;
  padding:0px;
  margin:0px;
  width: 150px;
  min-height: 250px;
}


/* Transparent forms */

input.dual,textarea.dual {
    width: 500px;
    border: 1px solid #fff;
    margin:0.1em;
    background: transparent;
    vertical-align: top;
}

input.dual:focus, textarea.dual:focus {
    border: 1px solid #000;
}

.dualbutton {
    display:none;
    margin:0.1em;
}

#title input,big {
    font-size: 1.6em;
}
#description textarea,small {
    font-size: 0.9em;
}

.framedpopup {
 background: #eee; 
 padding: 3px; 
 border: 1px solid silver; 
 width: 440px;
}

dl {
 margin: 13px;
 font-family: sans-serif;
}

dt {
  float: left;
  width: 80px;
  font-size: 14px;
  line-height: 24px;
}

dd {
  margin: 0 0 5px 90px;
  font-size: 11px;
  line-height: 24px;
  margin-left: 80px;
}

/*<group=sidebar nav menu>*/

/* code shamelessly stolen from Eric Meyer's http://meyerweb.com/eric/css/edge/menus/demo.html */
/** with some slight modifications of colors, widths, etc. by Dave Naughton **/

#sidebar ul {
 padding: 0;
 margin: 0;
 border-bottom: 1px solid silver;
 font: 1em sans-serif;
}
#sidebar ul li {
 list-style-type: none;
 border: 1px solid silver;
 border-width: 1px 1px 0 3px;
 position: relative;
 margin: 0;
 padding: 0;
}
#sidebar ul ul {display: none;}
#sidebar ul li:hover > ul {
 display: block;
 position: absolute;
 top: -1px;
 left: 100%;
}
#sidebar li a {
 display: block;
 padding: 5px 7px;
 text-decoration: none;
 background: #FFF;
}
#sidebar li.menuParent, li.menuParentMissingChildren > a {
 font-weight: bold;
}

#sidebar ul ul {width: 12em;}

#sidebar {
 position: absolute;
 right: 0;
 width: 10em;
 margin: 0;
 padding: 0;
 font-family: Arial, sans-serif;
}
#sidebar > ul {
 width: 11em;
 margin-left: -1px;
 font-size: 85%;
}
#sidebar ul {
 border: 1px solid silver;
 border-width: 0 0 0 1px;
}
#sidebar ul li {
 border-width: 1px 0;
 border-color: white;
 padding: 0 0 0 5px;
 line-height: 1.25em;
}
#sidebar ul ul {
 border-width: 0 1px 1px 1px;
 border-color: gray silver gray gray;
}
#sidebar ul ul li {
 border-color: #FEFEFC;
}
#sidebar li > a {
 background-color: transparent;
 padding: 3px;
}
#sidebar li:hover {background-color: #ddf;}
#sidebar li.menuParent:hover {
 margin-left: -12.2em;
 border: 1px solid gray;
 background: #D7D6D4;
}
#sidebar li.menuParent:hover > a {
 background: inherit;
}
#sidebar li.menuParent:hover > ul {
 top: 1.75em;
 left: -1px;
 background: #FEFEFC;
}

ul#menuHome {
 border-bottom: 1px solid silver;
 font-weight: bold;
}

/* end of shamelessly stolen code */
/*</group>*/

.spinner {
    float:right;
    height:1em;
}


div.photo img{
    margin: 1em;
    padding:5px;
    border:1px solid;border-color: #ccc #666 #666 #ccc
}

.end {
    clear:both;
}

.inline p,dt,dd{
    font-size: 1.2em;
}

acronym {
  border-bottom: 1px dotted !important;
}

.inplaceeditor-form input {
    margin: 0px 10px 0px 0px;
}

.inplaceeditor-form a {
    border: 1px solid black;
    background: #eee;
    padding: 5px 6px 1px 6px;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
}

#title { 
    margin-left: 1em;
}

#description {
    font-style: italic;
    margin-left: 2em;
}

#content img.right {
	margin-left: 1em;
}

#searchField {
    margin-left: 150px;
    font-size: 12px
}
