.tree {
  float: left;
  margin-left:10px;
  width:70%;
}

.two {
  float: left;
  margin-left:10px;
  width:80%;
}
.one {
  float: left;
  width:100%;
}
#colleft {
  float: left;
  width: 12%;
  border-right: 1px dotted #ccc;
  overflow:hidden;
}
#colleft ul{
  padding-left: 1px ;
}

#colright {
  float: left;
  width: 12%;
  border-left: 1px dotted #ccc;
  padding-left:5px;
}
#colright ul{
  padding-left: 1px ;
}

