[% PROCESS header.tt %]
        <div class="main-content">
        <div class="content-cell">
	 <div id="revision">
	  [% content.formatted(c) %]
	 </div>

	 <div class="byline">
	  Revised on [% content.created.ymd %] at [% content.created.hms %]
	    by [% content.creator.name %]
	 </div>
    </div>

</div>

</body>
</html>
