				<div class="box bienvenue">
					<h3>BIENVENUE</h3>
					<div class="text">
						<ul class="list">
							<li><a href="#">Aide joueurs</a></li>
							<li><a href="#">Webmasters</a></li>
							<li><a href="#">Programmes d'affiliation</a></li>
						</ul>
					</div>
				</div>
				<div class="box approuve-par">
					<h3>FAC approuve par</h3>
					<div class="text">
						<ul class="list">
							<li><a href="#">Bingo Rewards</a></li>
							<li><a href="#">Brightshare</a></li>
							<li><a href="#">Casino Blasters</a></li>
							<li><a href="#">Casino Coins</a></li>
							<li><a href="#">Casino Partners</a></li>
							<li><a href="#">Casino Pays</a></li>
							<li><a href="#">Casino Project</a></li>
							<li><a href="#">Casino Rewards</a></li>
							<li><a href="#">Earn United</a></li>
							<li><a href="#">Eurobet</a></li>
							<li><a href="#">Everest affiliates</a></li>
							<li><a href="#">Fortune Affiliates</a></li>
							<li><a href="#">G3 Partner</a></li>
							<li><a href="#">Gambling GFED</a></li>
							<li><a href="#">GamblingWages</a></li>
							<li><a href="#">Gamebookers</a></li>
							<li><a href="#">Gaming promo</a></li>
							<li><a href="#">Goldenriviera gp</a></li>
							<li><a href="#">GSN Network</a></li>
							<li><a href="#">Hampton</a></li>
							<li><a href="#">IOG Casinos</a></li>
							<li><a href="#">Lucky Traffic</a></li>
							<li><a href="#">Netaffiliation</a></li>
							<li><a href="#">Partnerlogic</a></li>
							<li><a href="#">Poker Gains</a></li>
							<li><a href="#">Prism Affiliate</a></li>
							<li><a href="#">Refer Bingo</a></li>
							<li><a href="#">Referback</a></li>
							<li><a href="#">Referspot</a></li>
							<li><a href="#">Richwebmaster</a></li>
							<li><a href="#">Roxy Affiliates</a></li>
							<li><a href="#">Sportingbet</a></li>
							<li><a href="#">Sunny Diamonds</a></li>
							<li><a href="#">Vegas Affiliates</a></li>
							<li><a href="#">Vegas Partner</a></li>
							<li><a href="#">VIP Profits</a></li>
							<li><a href="#">Wager Profits</a></li>
							<li><a href="#">wagershare</a></li>
							<li><a href="#">Windows Casino</a></li>
						</ul>
					</div>
				</div>
				<div class="box moderateurs">
					<h3>FAC MODERATEURS</h3>
					<div class="text">
						<h5>Perform-Casino</h5>
						<ul class="list">
							<li><a href="#">Perform-Casino</a></li>
						</ul>
						<h5>Eric</h5>
						<ul class="list">
							<li><a href="#">JeuOnline</a></li>
							<li><a href="#">Les casinos en ligne</a></li>
							<li><a href="#">Machine à sou</a></li>
							<li><a href="#">Poker Virtuel</a></li>
						</ul>
						<h5>Gands</h5>
						<ul class="list">
							<li><a href="#">FranceCasinos</a></li>
							<li><a href="#">Casino- Bingo-Poker</a></li>
							<li><a href="#">Bonus Casino</a></li>
							<li><a href="#">France Casinos</a></li>
							<li><a href="#">France-Pokers</a></li>
							<li><a href="#">France-Bingos</a></li>
						</ul>
						<h5>Sabrina</h5>
						<ul class="list">
							<li><a href="#">Casinos-Max</a></li>
							<li><a href="#">Maxbonuscasino</a></li>
							<li><a href="#">Blogs-casino</a></li>
							<li><a href="#">s-casinos</a></li>
						</ul>
					</div>
				</div>



