<span id="tags">
<b>popular tags : </b>
[% WHILE (tag=tags.next) %]
<a class="tag" title="[%tag.pagecount%]" href="javascript:void(0)">[%tag%]</a> 
[%END%]
&nbsp;&nbsp;&nbsp;<b>my tags : </b>
[% WHILE (tag=my_tags.next) %]
<a class="tag" href="javascript:void(0)">[%tag%]</a> 
[%END%]
</span>
