<span id="tags">
<b>popular tags : </b>
[% FOREACH othertag IN others_tags %]
[% SET tagmatch=' ' _ othertag.tag _ ' ' %]
[% NEXT IF taglist.match(tagmatch) %]
<a class="tag" title="[%othertag.pagecount%]" href="javascript:void(0)"
>[%othertag.tag%]</a> 
[%END%]
&nbsp;&nbsp;&nbsp;<b>my tags : </b>
[% FOREACH tag IN tags %]
<a class="tag" href="javascript:void(0)">[%tag.tag%]</a> 
[%END%]
</span>
