[%
    admin_header = 1;
    title = c.pref('name');
    selected = 'roles';
    back = 'admin/role';
    WRAPPER page/wrapper.tt;
%]

<div id="content">
  <h1>[%loc('Edit Role')%]</h1>
  [% PROCESS admin/role_form.tt active = role.active, role_name => role.name %]
</div>

[% END # WRAPPER %]
