[%PROCESS header.tt%]
<div id="header"><h1><span id="pageName">[%c.pref('name')%]</span></h1>[% PROCESS topbar.tt %]</div>
[% PROCESS breadcrumbs.tt %]

<div id="wrapper">
[% PROCESS admin/toplinks.tt selected = 'configuration' %]
<div id="content">
   <h1>[%loc('Site Configuration')%]</h1>
   [% form %]
<h2>[%message%]</h2>
</div>
<div id="bottomnav">&nbsp;</div>
</div>
[%PROCESS footer.tt%]
