[%PROCESS header.tt%]
<div id="header"><h1><span id="pageName">[%c.pref('name')%]</span></h1></div>
<div id="toplinks"><b class="navOn">configuration</b> |
<a accesskey="U" href="[%c.uri_for('admin/user')%]">users</a> |
<a accesskey="B" href="[%c.uri_for('view')%]">back</a> </div>
<div id="content">
   <h1>Site Configuration</h1>
   [% form %]
<h2>[%message%]</h2>
</div>
<div id="bottomnav">&nbsp;</div>
[%PROCESS footer.tt%]
