[%PROCESS header.tt %]
<div id="header">
	<h1>[% loc('Editing user profile for x', user.name) %]</h1>
</div>
[% PROCESS breadcrumbs.tt %]
[% PROCESS navbar.tt %]
<div id="content">
	<h3>[%message%]</h3>
[% form %]

</div>
<div id="bottomnav">&nbsp;</div>
[%PROCESS footer.tt %]
