[% PROCESS header.tt %]
<div id="header"><h1>
  <small> [% title || config.application_name || "MojoMojo" %] </small>
  Authors
</h1>
</div>
[% PROCESS navbar.tt %]
 <div id="content">
[% PROCESS pager.tt %]
<ul>
[% WHILE (user=users.next) %]
<li>[%c.wikiword(user.link,base)%]<br/>
Last Changed 
[% FOREACH  changed IN user.pages %]
[%c.wikiword(changed.path,base)%]
[%END%]
</li>
[%END %]
</ul>
</div>
<div class="content">
[% PROCESS footer.tt %]
