[% WRAPPER page/wrapper.tt title="preferences" %]
<div class="preferences" id="content">
<h2>your account</h2>
<div class="rightHandSide">
<ul>
<li><a href="[%base%][%page_user.link%].prefs/password">change password</a></li>
</ul>
</div>
<p>[%message%]</p>
[% form %]
</div>
[% END %]