[% WRAPPER page/wrapper.tt title="preferences" %]
<div class="preferences">
<h2>your account</h2>
<div class="rightHandSide">
<ul>
<li><a href="[%c.uri_for('prefs/password')%]">change password</a></li>
</ul>
</div>
<p>[%message%]</p>
[% form %]
</div>
[% END %]