[% WRAPPER page/wrapper.tt simple_footer=1 simple_header=1 title=loc('New User Registration') %]
<div id="content">
    [% IF account_taken %]
        <span style="color:red; font-size: 115%;"> [% account_taken %]</span>
    [% END %]
    [% form %]
    <div id="logintext">[%message%]</div>
</div>
[% END %]
