<html>
    <head>
        <script language="javascript" type="text/javascript">
        function finish() {
            if ( parent.document.uploadStatus1 ) {
                parent.document.uploadStatus1.stop([% total_uploaded %]);
                [% IF redirect %]
                parent.location.replace( '[% redirect %]' );
                [% END %]
            }
        }
        </script>
    </head>
    
    <body onload="finish()">
    </body>
</html>
