[%loc('Hi there.')%]

[%loc('Your password on x has been reset. This is your new password:',c.pref('name') || c.config.name || "MojoMojo" )%]

[%password%]

-- 
[%loc('Have a nice day')%]
[%loc('MojoMojo - Spirit in a box')%]
