[% loc('Hi there.') %]

[% loc('Your password on x has been reset. This is your new password:', c.pref('name') ) +%]

[% password +%]

--
[%+ loc('Have a nice day') +%]
[%+ loc('MojoMojo - The elegant wiki, Catalyst-powered') +%]
