[% url = base _ page.path _ '.comment/login/' _ c.req.path %]
[%c.prototype.form_remote_tag ({
url => url,
update => 'hidden_info'
})%]
<small>You have to log in to post a comment.
(<a href="[%base%]/.register">register</a>)</small>
</span>
<dl>
<dt>login:</dt>
<dd><input id="loginField" type="text" name="login"/></dd>
<dt>password:</dt>
<dd><input type="password" name="pass"/></dd>
<dd><input type="submit" value="log in"/></dd>
</dl>
</form>
