<div id="commentLogin">
<form action="[%c.uri_for('comment/login')%]" method="post" id="commentlogin" >
<small>[%loc('You have to log in to post a comment.')%]
(<a href="[%c.uri_for('register')%]">[%loc('register')%]</a>)</small>
</span>
<dl>
<dt>[%loc('login')%]:</dt>
<dd><input id="loginField" type="text" name="login"/></dd>
<dt>[%loc('password')%]:</dt>
<dd><input type="password" name="pass"/></dd>
<dd><input type="submit" value="[%loc('log in')%]"/></dd>
</dl>
</form>
</div>