<div id="postForm">
<form action="[%c.uri_for('comment')%]" method="post" onsubmit=" new Ajax.Updater( 'comments',  '[%c.uri_for('comment')%]', { parameters: Form.serialize(this),asynchronous: 1 } ) ; return false">
<textarea id="comment" name="body">
</textarea>
<input type="submit" value="Post"/> as
[% c.wikiword(user.link,base) %] 
(<a href="[% base %]/.logout">forget me</a>)
</form>
</div>
